@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
footer, .search-and-results-container, .pages .pages-button, .pages, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .search__input-container--select-search, .search .search__input-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body.dark {
  background-color: #151515;
}
body.dark footer {
  background-color: black;
}
body.dark h2 {
  color: white;
}
body.dark .pages-button {
  background-color: #ed1d23;
}
body.dark .search-button {
  background-color: #ed1d23 !important;
}
body.dark .search__input-container i {
  color: white;
}
body.dark .search__input-container #text-search {
  background-color: #151515;
  border-bottom: 2px solid #757575;
}
body.dark .search__input-container select {
  background-color: #151515;
  color: white;
}
body.dark p {
  color: white;
}
body.dark h3 {
  color: white;
}
body.dark .character-card__name-container {
  background-color: black !important;
}

header {
  width: 100vw;
  background-color: #151515;
  height: 50px;
}
header .web-title {
  font-family: "Bangers", cursive;
  color: #ffffff;
  background-color: #ed1d23;
  padding: 0 10px;
  font-size: 45px;
}
@media (max-width: 768px) {
  header .web-title {
    font-size: 35px;
  }
}
@media (max-width: 576px) {
  header .web-title {
    font-size: 25spx;
  }
}
@media (max-width: 768px) {
  header {
    height: 40px;
  }
}
@media (max-width: 576px) {
  header {
    height: 30px;
  }
}

.banner {
  width: 100vw;
  height: 400px;
  background-image: url(https://frontend-proyecto-comics.adaitw.org/hero.jpg);
  background-size: cover;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .banner {
    height: 300px;
  }
}
@media (max-width: 576px) {
  .banner {
    height: 200px;
  }
}

.toggle-dark-mode {
  top: 7px;
  right: 50px;
  position: absolute;
}
.toggle-dark-mode .switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
  border: none;
  border-radius: 34px;
  outline: none;
  background-color: #ccc;
  cursor: pointer;
  transition: 0.4s;
}
.toggle-dark-mode .switch .moon {
  position: absolute;
  top: 2px;
  left: 35px;
  font-size: 25px;
}
.toggle-dark-mode .switch .moon::before {
  content: "🌜";
}
@media (max-width: 768px) {
  .toggle-dark-mode .switch .moon {
    top: 0;
  }
}
@media (max-width: 576px) {
  .toggle-dark-mode .switch .moon {
    top: -3px;
    font-size: 20px;
  }
}
.toggle-dark-mode .switch .sun {
  position: absolute;
  font-size: 25px;
  top: 2px;
  left: 6px;
}
.toggle-dark-mode .switch .sun::before {
  content: "🌞";
}
@media (max-width: 768px) {
  .toggle-dark-mode .switch .sun {
    top: 0;
  }
}
@media (max-width: 576px) {
  .toggle-dark-mode .switch .sun {
    top: -3px;
    font-size: 20px;
  }
}
.toggle-dark-mode .switch::after {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 35px;
  bottom: 4px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  z-index: 1;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
@media (max-width: 768px) {
  .toggle-dark-mode .switch::after {
    bottom: 2px;
  }
}
@media (max-width: 576px) {
  .toggle-dark-mode .switch::after {
    bottom: 0;
    height: 22px;
    width: 22px;
  }
}
.toggle-dark-mode .switch.dark-mode::after {
  transform: translateX(26px);
  left: -20px;
}
@media (max-width: 768px) {
  .toggle-dark-mode .switch {
    height: 30px;
  }
}
@media (max-width: 576px) {
  .toggle-dark-mode .switch {
    height: 22px;
    width: 60px;
  }
}
@media (max-width: 768px) {
  .toggle-dark-mode {
    top: 5px;
    right: 30px;
  }
}
@media (max-width: 576px) {
  .toggle-dark-mode {
    right: 10px;
    top: 0;
  }
}

.search {
  margin: 60px 10px 80px;
}
@media (max-width: 1200px) {
  .search .search__input-container {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .search h2 {
    font-size: 22px;
  }
}
.search .search__input-container--text-search {
  width: 45%;
  position: relative;
}
.search .search__input-container--text-search .icon {
  position: absolute;
  top: 12px;
  left: 8px;
  font-size: 17px;
}
@media (max-width: 768px) {
  .search .search__input-container--text-search .icon {
    top: 7px;
    font-size: 14px;
  }
}
.search .search__input-container--text-search #text-search {
  border: 0;
  border-bottom: 2px solid #151515;
  padding: 5px 35px;
  font-size: 26px;
  box-sizing: border-box;
  width: 100%;
  outline-color: #ed1d23;
}
@media (max-width: 768px) {
  .search .search__input-container--text-search #text-search {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .search .search__input-container--text-search {
    width: 100%;
    margin-bottom: 30px;
  }
}
.search .search__input-container--select-search {
  width: 45%;
}
.search .search__input-container--select-search .select-search label {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #757575;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .search .search__input-container--select-search .select-search label {
    font-size: 11px;
  }
}
.search .search__input-container--select-search .select-search select {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: 0;
  margin-bottom: 10px;
  margin-right: 20px;
  outline-color: #ed1d23;
}
@media (max-width: 768px) {
  .search .search__input-container--select-search .select-search select {
    font-size: 11px;
  }
}
.search .search__input-container--select-search .search-button {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #151515;
  color: #ffffff;
  border: 0;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.2s;
  outline-color: #ed1d23;
}
.search .search__input-container--select-search .search-button:hover {
  background-color: #ed1d23;
}
@media (max-width: 768px) {
  .search .search__input-container--select-search .search-button {
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .search .search__input-container--select-search {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .search {
    margin: 30px 10px 70px;
  }
}
@media (max-width: 576px) {
  .search {
    margin: 20px 10px 50px;
  }
}

.comic-information__container {
  margin: 60px 10px 80px;
  display: flex;
}
.comic-information__container .comic-information__image {
  max-width: 300px;
}
.comic-information__container .comic-information__image img {
  width: 100%;
}
@media (max-width: 768px) {
  .comic-information__container .comic-information__image {
    max-width: 250px;
  }
}
@media (max-width: 576px) {
  .comic-information__container .comic-information__image {
    max-width: 200px;
  }
}
.comic-information__container .comic-information {
  margin-left: 60px;
}
.comic-information__container .comic-information h2 {
  margin-top: 0;
}
@media (max-width: 768px) {
  .comic-information__container .comic-information h2 {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .comic-information__container .comic-information h2 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .comic-information__container .comic-information h3 {
    font-size: 17px;
  }
}
@media (max-width: 576px) {
  .comic-information__container .comic-information h3 {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .comic-information__container .comic-information p {
    font-size: 13px;
  }
}
@media (max-width: 576px) {
  .comic-information__container .comic-information p {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .comic-information__container .comic-information {
    margin-left: 40px;
  }
}
@media (max-width: 576px) {
  .comic-information__container .comic-information {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .comic-information__container {
    margin: 60px 10px 60px;
  }
}
@media (max-width: 576px) {
  .comic-information__container {
    margin: 60px 10px 50px;
  }
}

.character-information__container {
  margin: 60px 10px 80px;
  display: flex;
}
.character-information__container .character-information__image {
  max-width: 350px;
}
.character-information__container .character-information__image img {
  width: 100%;
}
.character-information__container .character-information {
  margin-left: 60px;
}
.character-information__container .character-information h2 {
  margin-top: 0;
}
@media (max-width: 768px) {
  .character-information__container .character-information h2 {
    font-size: 22px;
  }
}
@media (max-width: 576px) {
  .character-information__container .character-information h2 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .character-information__container .character-information p {
    font-size: 13px;
  }
}
@media (max-width: 576px) {
  .character-information__container .character-information p {
    font-size: 10px;
  }
}
@media (max-width: 768px) {
  .character-information__container .character-information {
    margin-left: 30px;
  }
}
@media (max-width: 992px) {
  .character-information__container {
    margin: 60px 10px 60px;
  }
}
@media (max-width: 768px) {
  .character-information__container {
    margin: 60px 10px 50px;
  }
}

.results-container {
  margin: 0 10px;
}
.results-container .results-container__total-results {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #757575;
  margin-right: 10px;
}
@media (max-width: 768px) {
  .results-container .results-container__total-results {
    font-size: 11px;
  }
}
@media (max-width: 768px) {
  .results-container h2 {
    font-size: 22px;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.cards-container .comic-card {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5 - 2 * 10px);
  margin: 0 10px 40px;
}
.cards-container .comic-card .comic-card__image-container {
  flex-grow: 1;
}
.cards-container .comic-card .comic-card__image-container .comic-card__image {
  width: 100%;
  height: 100%;
  box-shadow: 0 26px 24px -16px rgba(0, 0, 0, 0.4);
  transform: translateY(0);
  transition: 0.2s;
}
.cards-container .comic-card .comic-card__description {
  height: 64px;
  margin-top: 25px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
}
@media (max-width: 768px) {
  .cards-container .comic-card .comic-card__description {
    height: 24px;
    font-size: 11px;
    margin-top: 20px;
  }
}
.cards-container .comic-card:hover .comic-card__image {
  transform: translateY(-10px);
}
.cards-container .comic-card:hover .comic-card__description {
  color: #ed1d23;
}
@media (max-width: 768px) {
  .cards-container .comic-card {
    width: calc(100% / 3 - 2 * 10px);
    margin: 0 10px 30px;
  }
}
.cards-container .character-card {
  display: flex;
  flex-direction: column;
  width: calc(100% / 6 - 2 * 10px);
  margin: 0 10px 40px;
  cursor: pointer;
}
.cards-container .character-card .character-card__image-container {
  border-bottom: 4px solid #ed1d23;
  overflow: hidden;
}
.cards-container .character-card .character-card__image-container .character-card__image {
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
.cards-container .character-card .character-card__name-container {
  background-color: #151515;
  padding: 16px 24px 17px 20px;
  transition: 0.2s;
}
.cards-container .character-card .character-card__name-container .character-card__name {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
  height: 60px;
}
@media (max-width: 768px) {
  .cards-container .character-card .character-card__name-container .character-card__name {
    height: 40px;
    font-size: 11px;
  }
}
.cards-container .character-card:hover .character-card__image {
  transform: scale(1.1);
}
.cards-container .character-card:hover .character-card__name-container {
  background-color: #ed1d23;
}
@media (max-width: 768px) {
  .cards-container .character-card {
    width: calc(100% / 4 - 2 * 10px);
    margin: 0 10px 30px;
  }
}

@media (max-width: 768px) {
  .total-pages {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  .total-pages {
    font-size: 12px;
  }
}

.pages {
  width: 100%;
  margin-bottom: 80px;
}
.pages .pages-button {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  background-color: #151515;
  color: #ffffff;
  border: 0;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.2s;
  outline-color: #ed1d23;
  width: 40px;
  height: 40px;
  font-size: 25px;
}
.pages .pages-button:hover {
  background-color: #ed1d23;
}
@media (max-width: 768px) {
  .pages .pages-button {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .pages .pages-button {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .pages .pages-button {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .pages {
    margin-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .pages {
    margin-bottom: 40px;
  }
}

.disable-button {
  color: #757575 !important;
}
.disable-button:hover {
  background-color: #151515 !important;
}

.loader-container {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}
.loader-container .spin-loader {
  width: 60px;
  height: 60px;
  border: 6px solid #ed1d23;
  border-radius: 50%;
  border-color: #ed1d23 transparent #ed1d23 transparent;
  animation-name: turnaround;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes turnaround {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.search-and-results-container {
  width: 100vw;
  flex-direction: column;
  position: relative;
}
.search-and-results-container .search-and-results {
  width: 80%;
  padding: 20px;
}
@media (max-width: 1200px) {
  .search-and-results-container .search-and-results {
    width: 90%;
  }
}
@media (max-width: 992px) {
  .search-and-results-container .search-and-results {
    width: 95%;
  }
}

footer {
  height: 89px;
  background-color: #151515;
  color: #ffffff;
}
@media (max-width: 768px) {
  footer {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  footer {
    font-size: 10px;
  }
}

.hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
