body {
    margin: 0;
    font-family: $main-font;
}

header {
    width: 100vw;
    background-color: $main-background-color;
    height: 50px;
    @extend %flex-centered;
    .web-title {
        font-family: $title-font;
        color: $title-font-color;
        background-color: $secondary-background-color;
        padding:  0 10px;
        font-size: 45px;
    }
}

.banner {
    width: 100vw;
    height: 400px;
    background-image: url(https://frontend-proyecto-comics.adaitw.org/hero.jpg);
    background-size: cover;
    position: relative;
    &::before {
        content:'';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.5);
    }
}

.search-and-results-container {
    width: 100vw;
    @extend %flex-centered;
    flex-direction: column;
    position: relative;
    .search-and-results {
        width: 80%;
        padding: 20px;
    }
}


.search {
    margin: 60px 10px 80px;
    .search__input-container {
        @extend %space-flex;
    }
    .search__input-container--text-search {
        width: 45%;
        #text-search {
            border: 0;
            border-bottom: 2px solid #151515;
            padding: 5px 35px;
            font-size: 26px;
            box-sizing: border-box;
            width: 100%;
            outline-color: $secondary-background-color;
        }
    }
    .search__input-container--select-search {
        width: 45%;
        @extend %space-flex;
        .select-search {
            label {
                @include subtitle;
            }
            select {
                @include select;
            }
        }
        .search-button {
            @include button;
        }
    }
}

.comic-information__container{
    margin: 60px 10px 80px;
    display: flex;
    .comic-information__image {
        width: 25%;
        img {
            width: 100%;
        }
    }
    .comic-information {
        margin-left: 60px;
        h2 {
            margin-top: 0;
        }
    }
}

.results-container {
    margin: 0 10px;
    .results-container__total-results {
        @include subtitle;
    }
}

.cards-container {
    display: flex;
    flex-wrap: wrap;

    .comic-card {
        display: flex;
        flex-direction: column;
        width: calc(100% / 5 - 2 * 10px);
        margin: 0 10px 40px;
        .comic-card__image-container{
            flex-grow: 1;
            .comic-card__image{
                width: 100%;
                height: 100%;
                box-shadow: 0 26px 24px -16px rgb(0 0 0 / 40%);
                transform: translateY(0);
                transition: 0.2s;
            }
        }
        
        .comic-card__description{
            height: 64px;
            margin-top: 25px;
            font-weight: bold;
            font-size: 14px;
            transition: 0.2s
        }
        &:hover {
            .comic-card__image{
                transform: translateY(-10px);
            }
            .comic-card__description{
                color: $hover-font-color;
            }
        }
    }
    
    .character-card {
        display: flex;
        flex-direction: column;
        width: calc(100% / 6 - 2 * 10px);
        margin: 0 10px 40px;
        cursor: pointer;
        .character-card__image-container{
            border-bottom: 4px solid $secondary-background-color;
            overflow: hidden;
            .character-card__image{
                width: 100%;
                height: 100%;
                transition: 0.2s;
            }
        }
        .character-card__name-container{
            background-color: $main-background-color;
            padding: 16px 24px 17px 20px;
            transition: 0.2s;
            .character-card__name{
                font-size: 14px;
                color: $title-font-color;
                margin:0;
                height: 60px;
            }
        }
        &:hover {
            .character-card__image{
                transform: scale(1.1);
            }
            .character-card__name-container{
                background-color: $secondary-background-color;
            }
        }
    }
}

.pages {
    width: 100%;
    @extend %flex-centered;
    margin-bottom: 80px;
    .pages-button {
        @include button;
        @extend %flex-centered;
        width: 40px;
        height: 40px;
        font-size: 25px;
    }
}

.disable-button {
    color: $disable-button-color !important;
    &:hover {
        background-color: $main-background-color !important;
    }
}


footer {
    height: 89px;
    background-color: $main-background-color;
    @extend %flex-centered;
    color: $title-font-color;
}


.loader-container {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;

    .spin-loader {
        width: 60px;
        height: 60px;
        border: 6px solid #ed1d23;
        border-radius: 50%;
        border-color: #ed1d23 transparent #ed1d23 transparent;
        animation-name: turnaround;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    
    }
    @keyframes turnaround {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

.hidden {
    display: none;
}
