.loader-container {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;

    .spin-loader {
        width: 60px;
        height: 60px;
        border: 6px solid #ed1d23;
        border-radius: 50%;
        border-color: #ed1d23 transparent #ed1d23 transparent;
        animation-name: turnaround;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    
    }
    @keyframes turnaround {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}