.results-container {
    margin: 0 10px;
    .results-container__total-results {
        @include subtitle;
    }
    h2 {
        transition: 0.4s;
        @media (max-width: $layout-breakpoint-max-smalldevice) {
            font-size: 22px;
        }
    }
}