$main-background-color: #151515;
$secondary-background-color:#ed1d23;
$title-font-color:#ffffff;
$main-font-color: #151515;
$secondary-font-color: #757575;
$button-font-color: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

$main-font: 'Roboto', sans-serif;
$title-font:  'Bangers', cursive;